
.container {
}

.top {
  height: 77px;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 100px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;

  .icon_logo {
    height: 70px;
    object-fit: contain;
    cursor: pointer;
  }
}


.content {
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
}

.item {
  background: #fff;
  width: 90%;
  border-radius: 16px;
  padding: 24px;
  position: relative;
  margin: 0 auto 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    > h1 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      margin: 0;
    }

    > h2 {
      font-size: 12px;
      font-weight: normal;
      color: #666;
      margin: 0;
      padding-top: 10px;
    }
  }

  &:hover {
    background: white;
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.1), 0 30px 60px -30px rgba(107, 124, 147, 0.15);
    transform: translateY(-10px);
    cursor: pointer;

    h1 {
      color: #1677ff;
    }

    h2 {
      color: #1677ff;
    }

    > div {
      svg {
        color: #1677ff;
      }
    }

  }
}

.disabled {

  user-select: none;
  cursor: not-allowed;

  background: #fff;
  width: 90%;
  border-radius: 16px;
  padding: 24px;
  position: relative;
  margin: 0 auto 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    > h1 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #999;
      margin: 0;
    }

    > h2 {
      font-size: 12px;
      font-weight: normal;
      color: #999;
      margin: 0;
      padding-top: 10px;
    }
  }
}

.display_none {
  display: none;
}

@media (min-width: 1001px) {
  .container {
    width: 640px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .content {
      display: grid;
      grid-template-rows: auto auto; /* 两行 */
      grid-template-columns: repeat(3, 1fr); /* 三列 */
      gap: 2rem; /* 设置行列间距 */
      height: 30rem;
      padding: 0;

      > div {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

.modal_title {
  width: 100%;
  color: #1f6feb;
  padding-top: 24px;

  > h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  > h2 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding-top: 4px;
    color: #999;
  }

}

.card {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 40px 0;
  width: 100%;
  justify-content: center;

  > div {
    width: 160px;
    height: 200px;
    background: #edeff1;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font-size: 20px;
      color: #333;
      margin-top: 48px;
    }

    > h2 {
      font-size: 14px;
      color: #666;
      font-weight: normal;
    }


    &:hover {
      background: #1f6feb;
      cursor: pointer;

      > h1 {
        color: white;
      }

      > h2 {
        color: white;
      }

    }
  }

  .selected {
    background: #1f6feb;

    > h1 {
      color: white;
    }

    > h2 {
      color: white;
    }

    .button {
      display: inline-block;
    }

  }

  .button {
    display: none;
    margin-top: 24px;
  }


}
