
.container {
  background: #f5f7fa;
}

.top {
  height: 77px;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 100px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;

  .icon_logo {
    height: 70px;
    object-fit: contain;
  }
}

.content {
  margin: 24px auto 0;
  width: 1000px;
}

.drawer_title {
  > a {
    padding: 0 2px;
  }
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.item {
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: solid 1px #f1f1f1;
  padding-top: 8px;

  > h1 {
    font-size: 14px;
    color: #666;
    font-weight: 500;
    display: inline-block;
    width: 20px;
    padding-top: 2px;
  }

  > div {
    flex: 1;
    padding-top: 2px;

    > h1 {
      font-size: 14px;
      color: #666;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      color: #333;
      font-weight: 500;
      padding-top: 8px;
    }
  }

}

.report {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
