.container {
  background: #f5f7fa;
}

.top {
  height: 77px;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 100px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;

  .icon_logo {
    height: 70px;
    object-fit: contain;
  }
}